.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  margin: 117px auto 0 178px;
  padding: 88px 105px 89px 103px;
}

.u-section-1 .u-btn-2 {
  margin: -202px 372px 60px auto;
  padding: 88px 117px 89px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}